<ion-view title="Личный кабинет" id="page4">
  <ion-content padding="true" class="has-header">
    <h1 id="page4-heading1" style="color:#3593D5;text-align:center;">Личный кабинет</h1>
    <div class="spacer" style="height: 40px;"></div>
    <h2 id="page4-heading2" style="color:#3593D5;text-align:center;">Текущие кредиты</h2>
    <div class="spacer" style="height: 30px;"></div>
    <div id="page4-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:22px;">Дата погашения</p>

      <p style="color:#000000;font-size:22px;">
        <strong>Нет информации</strong>
      </p>

      <p style="color:#000000;font-size:22px;">Расчетная сумма погашения</p>

      <p style="color:#000000;font-size:22px;">
        <strong>0 тг</strong>
      </p>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <div id="page4-button-bar1" class="button-bar">
      <a ui-sref="page5()" id="page4-button6" class="button button-positive button-block">Рейтинг</a>
      <a ui-sref="page6()" id="page4-button7" class="button button-positive button-block">Договор</a>
    </div>
    <a ui-sref="page2()" id="page4-button9" class="button button-positive button-block">Выход</a>
  </ion-content>
</ion-view>