<ion-view title="Вход" id="page2" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 40px;"></div>
    <div>
      <img src="img/jMaVZ0gRLe0IpfzJ5Gw8_logodzp.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <form id="page2-form1" class="list">
      <ion-list id="page2-list1">
        <label class="item item-input" id="page2-input1">
          <span class="input-label">Телефон</span>
          <input type="tel" placeholder="8 (777) 777 77 77">
        </label>
        <label class="item item-input" id="page2-input2">
          <span class="input-label">Пароль</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 60px;"></div>
      <a ui-sref="page4()" id="page2-button1" style="font-weight:600;color:#FFFFFF;font-size:22px;" class="button button-energized button-block">ВОЙТИ</a>
    </form>
  </ion-content>
</ion-view>