<ion-view title="Кредитный рейтинг" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="page5-heading3" style="color:#3593D5;text-align:center;">Личный кабинет</h1>
    <div class="spacer" style="height: 40px;"></div>
    <h3 id="page5-heading4" style="color:#3593D5;text-align:center;">Мой кредитный рейтинг</h3>
    <div>
      <p>
      </p>
      <center>
        <span style="    font-size: 37px;
    color: #f68a0a;
    border: 2px solid #f68a0a;
    border-radius: 100px;
    height: 82px;
    width: 82px;
    line-height: 76px;
    display: inline-block;
}">U</span>
      </center>
      <p></p>
    </div>
    <div>
      <p class="rline" style="text-align: left;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;">Мой тариф
        <span style="display: inline-block;
    float: right;
    font-size: 21px;
}">0,00%</span>
      </p>
      <p class="rline" style="text-align: left;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;">Возможно снижение до
        <span style="display: inline-block;
    float: right;
    font-size: 21px;
}">2,3%</span>
      </p>
      <p class="rline" style="text-align: left;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;position:center">При своевременных погашениях рейтинг будет улучшен</p>
    </div>
    <div id="page5-button-bar2" class="button-bar">
      <a ui-sref="page4()" id="page5-button13" style="font-size:13px;" class="button button-positive button-block">Текущие кредиты</a>
      <a ui-sref="page6()" id="page5-button14" class="button button-positive button-block">Договор</a>
    </div>
  </ion-content>
</ion-view>