<ion-view title="Часто задаваемые вопросы" id="page7">
  <ion-content padding="true" class="has-header">
    <h4 id="page7-heading8" style="color:#3593D5;font-weight:600;text-align:center;">Часто задаваемые вопросы</h4>
    <div class="spacer" style="height: 30px;"></div>
    <h4 id="page7-heading9" style="color:#000000;">От чего зависит мой процент по кредиту?</h4>
    <div id="page7-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ваш процент по кредиту зависит от Вашего кредитного рейтинга. Если у Вас положительная кредитная история, Вы имеете более высокий кредитный рейтинг и соответственно более низкую процентную ставку. Также в нашей компании Вы сможете повысить свой
        кредитный рейтинг, отдавая полученные у нас кредиты вовремя. Вы также можете ознакомиться со всеми тарифами, для каждого кредитного рейтинга. В личном кабинете Вы можете посмотреть Ваш текущий кредитный рейтинг и следющий за ним в случае своевременных
        платежей по Вашим кредитам.</p>
    </div>
    <h4 id="page7-heading10" style="color:#000000;">Могу ли я погасить кредит досрочно?</h4>
    <div id="page7-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Вы можете погасить кредит в любое удобное для Вас время. Никаких штрафов за досрочное погашение у нас нет.</p>
    </div>
    <h4 id="page7-heading11" style="color:#000000;">Что делать если я не успеваю погасить кредит вовремя?</h4>
    <div id="page7-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Вы можете погасить кредит позже, однако за каждый день просрочки с Вас будет взыматься повышенный тариф, величину которого можно посмотреть в Вашем кредитном договоре. Ну а для того, чтобы не портить Вашу общую для всех банков и финансовых организаций
        кредитную историю и соответственно Ваш кредитный рейтинг, старайтесь не допускать просрочек.</p>
    </div>
    <a ui-sref="page4()" id="page7-button26" class="button button-positive button-block">Личный кабинет</a>
  </ion-content>
</ion-view>