<ion-view title="Мой договор" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="page6-heading5" style="color:#3593D5;text-align:center;">Личный кабинет</h1>
    <div class="spacer" style="height: 40px;"></div>
    <h2 id="page6-heading6" style="color:#3593D5;text-align:center;">Мой договор</h2>
    <div class="spacer" style="height: 40px;"></div>
    <div>
      <img src="img/rWfjpHQhTX6yJdD39lOu_cabinet_05.jpg" style="display: block; width: 88px; height: 85px; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="page6-heading7" style="color:#000000;font-weight:600;text-align:center;">Нет текущих договоров</h4>
    <div class="spacer" style="height: 40px;"></div>
    <div id="page6-button-bar4" class="button-bar">
      <a ui-sref="page4()" id="page6-button22" style="font-size:13px;" class="button button-positive button-block">Текущие кредиты</a>
      <a ui-sref="page5()" id="page6-button23" class="button button-positive button-block">Рейтинг</a>
    </div>
    <a ui-sref="page7()" id="page6-button25" class="button button-positive button-block">Часто задаваемые вопросы</a>
  </ion-content>
</ion-view>